<H4>Education</H4>
    <br>
    <P>
        Ramro Adik Institute of Technology(D.Y. Patil group) <br> -Computer Engineering
        <br>
        <br>
        Revera Institute of Technology <br> -Diploma in Computer engineering
    </P>
    <h4>Experience</h4>
    <br>
    <p>
        <b> Capita India Private Limited -Senior Executive</b><br>
    <ul>
        <li>Developed full-stack applications across various platforms using latest industry-adopted
            technologies and frameworks
        </li>
        <li>Played a key role in the development, improvement, and operation of web-based
            software
        </li>
        <li>
            Gained hands-on expertise in Bootstrap, Foundation, Express and similar back-end Node.js as well as
            front-end presentation frameworks web application frameworks Conducted unit and load testing for high
            profile customer facing applications, which reduced system failure rate by 70%
        </li>
    </ul>
    <br>
    <b>Computer support officer(2.5 years)</b>
    <ul>
        <li>
            Ensuring the production floor is working fine with all the applications and the systems are working
            up-to-date.
        </li>
        <li>
            I also maintain the application id for users, any ID creation and deletion are requested from me.
        </li>
        <li>
            I communicate with the clients/stakeholders on daily basis for daily performance of the application and
            system on call.
        </li>
        <li>
            Define and measuring KPI. I am also responsible for raising any incident/ crisis management if systems
            are down or system should be set for regular maintenance.
        </li>
        <li>
            I'm the first line troubleshooter for the production floor.
        </li>
    </ul>
    <br>
    <b>Sutherland Global Services -Consultant</b>
    <ul>
        <li>
            Technical Support for Norton anti-virus.
        </li>
        <li>
            Chat with the customer and take the access remotely of the computer and assist with the anti-virus.
        </li>
        <li>
            Helps to ensure other applications are not affected by the anti-virus and be computer are working fine.
        </li>
    </ul>
    <br>
    <b>
        Wipro - Associate
    </b>
    <ul>

        <li>
            Customer service for the Airtel Titanium postpaid customers.
        </li>
        <li>
            Help the customer to explain the bill and add additional services or remove them.
        </li>
    </ul>
