<h3>Portfolio</h3>
    In progress..
    <div class="bar flex-50-gt-sm waypoint bars-wrap animated slide-in-right">
        <div class="bar flex">
            <div class="fill" style="width:90%">
                <div class="bold">CSS</div>
            </div>
            <span>90%</span>
        </div>

        <div class="bar flex">
            <div class="fill" style="width:90%">
                <div class="bold">HTML</div>
            </div>
            <span>90%</span>
        </div>

        <div class="bar flex">
            <div class="fill" style="width:80%">
                <div class=" bold ">JavaScript</div>
            </div>
            <span>75%</span>
        </div>

        <div class="bar flex">
            <div class="fill" style="width:50%">
                <div class="bold ">Angular</div>
            </div>
            <span>50%</span>
        </div>

        <div class="bar flex">
            <div class="fill" style="width:65%">
                <div class="bold">Node.js</div>
            </div>
            <span>60%</span>
        </div>

        <div class="bar flex">
            <div class="fill" style="width:50%">
                <div class="bold ">UI Design</div>
            </div>
            <span>50%</span>
        </div>
    </div>