<div class="mx-auto" style="width: 200px;">
    <h3>Contact</h3>
    Have a question or want to work together?
    <form class="waypoint animated pop-in" data-animation="pop-in" data-delay=".5s" id="contact-form"
        style="animation-delay: 0.5s;">
        <input placeholder="Name" type="text" name="name" required="">
        <input placeholder="Enter email" type="email" name="email" required="">
        <textarea placeholder="Your Message" type="text" name="message"></textarea>
        <!-- <div id="success">
            <div>
                Your message was sent successfully. Thanks!<span id="close" class="mdi mdi-close"></span>
            </div>
        </div> -->
        <input class="button" type="submit" id="submit" value="SUBMIT">
    </form>
</div>