<nav class="navbar navbar-expand-lg navbar-dark" id="NavBar">
    <div class="container-fluid ">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse Container" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#About" >About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Port">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="Home">
    <H3>Home</H3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas incidunt veniam architecto culpa
        accusantium praesentium porro expedita ea! Praesentium quaerat rem velit nulla iure? Repellat quas dolores
        iste amet voluptas!</p>
</div>
<img src="../assets/images/SIdharth.jfif" alt="">
<h2>Sidharth Sonar</h2>
<h2>Full Stack Developer</h2>
<br> 
<app-home></app-home>
<div id="About">
        <app-about></app-about>
</div>
<div id="Port">
    <app-port></app-port>
</div>
<div id="Contact">
    <app-contact></app-contact>
</div>

